@charset "utf-8";
/* CSS Document */
/* =============================================================
 	First Name		  : Strahinja     					    
 	Last Name		    : Popovic					            
 	Developer Name  : codeXdeveloper			        
 	WebMaster Email	: spope.mails@gmail.com               
 ============================================================== */

/* ***************************************************************************************** */
/* Definition of the css stylingn variables ************************************************ */
/* ***************************************************************************************** */

:root {
  --aqua: aqua;
  --dark: black;
  --light: white; 
  --error: rgb(170, 28, 28);
  --gray: rgb(240, 240, 240);
  --gray-dark: rgb(23,23,23);
  --naval-blue: rgba(1,33,55,1.00);
  --electron-blue: rgb(50, 164, 240);
  --custom-gray: rgb(175, 191, 207);
  --light-web-blue: rgb(12, 209, 235);
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  min-width: 1000px;
  background-color: var(--light);
  font-family: "Roboto", sans-serif;
}

div#format {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin: 40px auto 0 auto;
  background-color: var(--gray);
  border: 3px solid var(--naval-blue);
}

div#header {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

div#header section#header-main {
  width: 80%;
  line-height: 2;
  margin: 0 auto;
  font-size: 85px;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 3px;
  color: var(--naval-blue);
  font-family: "Roboto", sans-serif;
}

div#header section#header-main span {
  color: var(--electron-blue);
}

div#top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
}

div#top section#input-book {
  height: auto;
  margin: auto auto;
  background-color: var(--gray);
}

div#top section#current-book {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: var(--gray);
}

div#top section#current-book section#sub-section {
  height: 450px;
  display: flex;
  margin:0 auto;
  border-radius: 5px;
  flex-direction: row;
  background-color: var(--gray);
  border: 3px solid var(--gray-dark);
}

div#top section#current-book section#sub-section section#sub-sub,
div#top section#current-book section#sub-section section#sub-sub-2 {
  width: 50%;
  display: flex; 
  height: 450px;
  border-radius: 10px;
  flex-direction: row;
  border: 3px solid var(--naval-blue);
  background-color: var(--custom-gray);
}

div#top section#current-book section#sub-section section#sub-sub div#book-cover,
div#top section#current-book section#sub-section section#sub-sub-2 div#author-img {
  padding: 5px;
  margin: auto auto;
}

div#top section#current-book section#sub-section section#sub-sub div#book-cover img,
div#top section#current-book section#sub-section section#sub-sub-2 div#author-img img {
  margin: 0;
}

div#top section#current-book section#sub-section section#sub-sub div#book-current,
div#top section#current-book section#sub-section section#sub-sub-2 div#author-current {
  font-size: 20px;
  margin: auto auto;
  text-align: justify;
  white-space: pre-line;
  font-family: "Roboto", sans-serif;
}

div#top section#current-book section#sub-section section#sub-sub div#book-current p,
div#top section#current-book section#sub-section section#sub-sub-2 div#author-current p {
  margin: 0;
}

div#middle {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--gray);
}

div#middle section#book-list {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: var(--gray);
  border: 0px solid var(--gray-dark);
}

div#middle section#book-list section#book-1,
div#middle section#book-list section#book-2,
div#middle section#book-list section#book-3,
div#middle section#book-list section#book-4,
div#middle section#book-list section#book-5,
div#middle section#book-list section#book-6 {
  width: calc(100% / 3);
  display: flex;
  height: 400px;
  margin: 15px auto;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
  flex-direction: row;
  color: var(--naval-blue);
  font-family: "Roboto", sans-serif;
  border: 3px solid var(--naval-blue);
  background-color: var(--custom-gray);
}
/*
div#middle section#book-list section#book-1,
div#middle section#book-list section#book-6 {
  width: calc(100% / 6 - 1vw - 0.5vw);
}

div#middle section#book-list section#book-1 {
  margin-left: 1vw;
  margin-right: 0.5vw;
}

div#middle section#book-list section#book-6 {
  margin-right: 1vw;
  margin-left: 0.5vw;
}

div#middle section#book-list section#book-2,
div#middle section#book-list section#book-3,
div#middle section#book-list section#book-4,
div#middle section#book-list section#book-5 {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: calc(100% / 6 - 1vw);
}
*/
div#book-1-desc,
div#book-2-desc,
div#book-3-desc,
div#book-4-desc,
div#book-5-desc {
  padding: 15px 0 0 15px;
  white-space: pre-line;
}

div#book-1-cover,
div#book-2-cover,
div#book-3-cover,
div#book-4-cover,
div#book-5-cover {
  padding-top: 10px;
}

label {
  font-size: 30px;
  margin: 0 0 0 10%;
  font-weight: bolder;
  color: var(--naval-blue);
  font-family: "Roboto", sans-serif;
}

input[type=text] {
  width: 80%;
  height: 70px;
  margin: 0 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 10px 10% 10px 10%;
  padding: 5px 5px 5px 5px;
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--gray-dark);
}

input::placeholder {
  font-size: 30px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

button#submit, button#clear {
  width: 80%;
  height: 75px;
  font-size: 35px;
  border-radius: 10px;
  font-weight: bolder;
  margin: 0 10% 15px 10%;
  color: var(--naval-blue);
  background-color: var(--gray);
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--gray-dark);
}

button#submit {
  margin-top: 10px;
}

div#middle section#book-list section#book-1 p,
div#middle section#book-list section#book-2 p,
div#middle section#book-list section#book-3 p,
div#middle section#book-list section#book-4 p,
div#middle section#book-list section#book-5 p,
div#middle section#book-list section#book-6 p {
  font-size: 14px;
  margin-left: 10%;
  line-height: 1.5;
  font-weight: bold; 
  color: var(--error); 
  font-family: "Roboto", sans-serif;
}

span#shevron {
  font-family: 'furore', Tahoma, Geneva, Verdana, sans-serif;
}

button#submit:hover, button#clear:hover {
  color: var(--naval-blue);
  border: 3px solid var(--naval-blue);
}

div#error-message {
  margin-left: 10%;
  line-height: 1.5;
}

div#error-message p {
  font-size: 25px; 
  font-weight: bold; 
  color: var(--error); 
  font-family: "Roboto", sans-serif;
}

footer#bottom {
  top: 0;
  left: 10%;
  width: 80%;
  height: 350px;
  line-height: 2;
  text-align: left;
  position: relative;
  background-color: var(--light);
  font-family: "Roboto", sans-serif;
}

footer#bottom p span {
  color: var(--electron-blue);
}

footer#bottom p {
  left: 15px;
  display: block;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin: 0 15px 0 15px;
  color: var(--naval-blue);
}

footer#bottom p:first-child {
  font-size: 70px;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1200px) {
  div#header section#header-main {
    font-size: 50px;
  }

  div#middle section#book-list section#book-1,
  div#middle section#book-list section#book-2,
  div#middle section#book-list section#book-3,
  div#middle section#book-list section#book-4,
  div#middle section#book-list section#book-5,
  div#middle section#book-list section#book-6 {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  div#header section#header-main {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1500px) {
  div#top section#current-book section#sub-section {
    flex-direction: column;
  }

  div#top section#current-book section#sub-section section#sub-sub,
  div#top section#current-book section#sub-section section#sub-sub-2 {
    width: 100%;
  }
}